<div>
  <%= render 'layouts/custom/user_card', user: @user %>

  <div class="user-bio">
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
  </div>

  <% @posts.each do |post| %>
    <%= render 'layouts/custom/post_card', post: post %>
  <% end %>
  <button>See all posts</button>
</div>