<%= render 'layouts/custom/post_card', post: @post %>

<% if @comments.empty? %>
  <p>No comments yet</p>
<% else %>
  <div class="comment-container">
    <% @comments.each do |comment| %>
      <%= render 'layouts/custom/comment_card', comment: comment %>
    <% end %>
  </div>
<% end %>
<%= button_to 'Like', user_post_likes_path(user_id: @user, post_id: @post.id), action: 'create' %>
